.page1 {
   background-color:rgb(194, 241, 241);
}

.page2 {
    background-color:rgb(209, 186, 231);
}

.page3 {
    background-color:rgb(156, 156, 212);
}

.page4 {
    background-color:rgb(218, 137, 180);
}

.page5 {
    background-color: lightblue;
}
